#input_file {
    position: absolute;	/* Абсолютное позиционирование */
    width: 350px; /* Ширина слоя в пикселах */
    height: 30px; /* Высота слоя в пикселах */
    left: 50%; /* Положение слоя от левого края */
    top: 40%; /* Положение слоя от верхнего края */
    margin-top: -150px;	/* Отступ сверху */
    background: #FFFFF0; /* Цвет фона */
}
